.container
	main.banner
		.banner-stars
			img(src="./img/stars.png").banner-stars__img
		h2.small-title.banner__over-title
			| Intensive program barista training
		h1.main-title.banner__main-title
			| Barista Training in 
			<span class="banner__main-title_orange">amsterdam</span>
		h2.small-title.banner__under-title
			| On the basis of the company's largest coffee roasters
		.banner__under-img-wrapper
			img(src="./img/circle_and_lines.png").banner__under-img
		a(href="#program").banner__circle
			i.fa.fa-angle-down.banner__icon
	a(href="#header").banner__circle.ancher-top
		i.fa.fa-angle-up.banner__icon.banner__icon_dark
