.container
	main.banner
		.banner-stars-wrapper
			img(src="./img/stars.svg").banner-stars__img
		h2.small-title.banner__over-title
			| Intensive program barista training
		h1.main-title.banner__main-title
			| Barista Training in 
			<span class="banner__main-title_orange">amsterdam</span>
		h2.small-title.banner__under-title
			| On the basis of the company's largest coffee roasters
		.banner__under-img-wrapper
			img(src="./img/circle_and_lines.svg").banner__under-img
		a(href="#program").banner-circle
			.banner-circle__arrow
	a(href="#header").banner-circle.ancher-top
		.banner-circle__arrow.ancher-top__arrow
