.container
	.footer
		h1.main-title.footer__title
			| Professional School Barista
		.footer__text-wrapper
			include ../blocks/footer-text.pug
			include ../blocks/footer-text.pug
		.footer-box
			ul.footer-box__nav-list
				li.footer-box__nav-item
					a(href="#program").nav-item__link Program
				li.footer-box__nav-item
					a(href="#gallery").nav-item__link Gallery
				li.footer-box__nav-item
					a(href="#rewiews").nav-item__link Testimonials
				li.footer-box__nav-item
					a(href="#contact").nav-item__link Contact
			ul.footer-box__column-list
				li.column-item
					a(href="tel:+380634567890" target="_blank").column-item__link
						img(src="./img/fa-phone.png").column-item__icon.column-item__phone
						.column-item__text +38 000 000 000
				li.column-item
					a(href="http://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003").column-item__link
						img(src="./img/fa-map.png").column-item__icon.column-item__map
						.column-item__text Ukraine, 61002
				li.column-item
					a(href="mailto:info@barista.gmail.com").column-item__link
						img(src="./img/fa-envelope.png").column-item__icon.column-item__envelope
						.column-item__text.column-item__hello hello@.com
		.footer-bottom
			p.footer-bottom__text.footer-bottom__left-text
				| © Copyright 2017 . All Rights Reserved.
			.footer-bottom__line
			p.footer-bottom__text.footer-bottom__right-text
				| site template by  
				span.footer-bottom__right-text_letter-spacing NIKANDROV.PRO