.gallery#gallery
	.container
		h1.main-title.gallery__title gallery
		h2.small-title.gallery__under-title
			| You yourself are testing the taste benefits of each method and select the type of cooking yourself
	.gallery-slider-wrapper
		ul.gallery-slider__list
			li.gallery-slider__item
				img(src="./img/gallery-item1.jpg").gallery-slider__img
			li.gallery-slider__item
				img(src="./img/gallery-item2.jpg").gallery-slider__img
			li.gallery-slider__item
				img(src="./img/gallery-item3.jpg").gallery-slider__img
	.gallery-slider-nav
		a(href="").gallery-slider__ctrl.gallery-slider__ctrl-prev#gallery-prev
			.gallery-slider__arrow.gallery-slider__arrow_left
			.gallery-slider__line.gallery-slider__line_left
		.gallery-slider__text-wrapper
			span.gallery-slider__text#counter 5
			span.gallery-slider__text.gallery-slider__text_orange-small from
			span.gallery-slider__text#total-amount 10
		a(href="").gallery-slider__ctrl.gallery-slider__ctrl-next#gallery-next
			.gallery-slider__arrow.gallery-slider__arrow_right
			.gallery-slider__line.gallery-slider__line_right
	.granola-wrapper
		.granola__img.gallery-top__img
		.granola__img.gallery-bottom__img