.header-top
	.header-logo-wrapper
		img(src="./img/header-logo.png").header-logo__img
	nav.header-navigation
		ul.header-navigation__list
			li.header-navigation__item
				a(href="#").header-navigation__link
					| Program
			li.header-navigation__item
				a(href="#").header-navigation__link
					| gallery
			li.header-navigation__item
				a(href="#").header-navigation__link
					| reviews
			li.header-navigation__item
				a(href="#").header-navigation__link
					| partners
			li.header-navigation__item
				a(href="#").header-navigation__link
					| contact
	.header-phone
		| +38 (099) 66-11-730