main.program#program
	.container
		h1.main-title.program__main-title
			| Programs
		h2.small-title.program__under-title
			| We share their experience and professional barista championships multiple winners
		ul.program-tab__list
			li.program-tab__item
				a(href="").program-tab__link Basic
			li.program-tab__item
				a(href="").program-tab__link Premium
			li.program-tab__item
				a(href="").program-tab__link Platinum
		+program-tab__inner('./img/machine.jpg', 'Basic', 'Beginners Course', '240 minutes', '1 500', 'usd')
		.program-tab__inner-table-wrapper
			h1.program-tab__table-title
				| The course also includes:
			table.program-tab__inner-table
				+table-row("check", 'Coffee machine and grinder - practice - types of coffee machines and coffee grinders')
				+table-row("check", 'What makes professional coffee machines and coffee grinders.')
				+table-row("times", 'Main components of coffee machines and coffee-Lathes, autolathes. Their purpose')
				+table-row("times", 'How to choose a coffee machine and coffee grinder')
				+table-row("times", 'The structure of the machine. How to maintain, clean and customize coffee machine')
				+table-row("times", 'The structure of the grinders. How to maintain, clean and customize coffee Molko')
				+table-row("check", 'Making beverages - praktika- machines and espresso rules')
				+table-row("times", 'Technology and regulations frothed milk')
				+table-row("times", 'Terms of tasting coffee')
				+table-row("times", 'Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.')
				+table-row("times", 'Latte Art - Features practice and the importance of Latte Art in business and the barista')
				+table-row("times", '1 views Latte Art - Pitching')
				+table-row("times", '2 views Latte Art - topping')
				+table-row("times", '3 views Latte Art - Etching')
				+table-row("times", '4 views Latte Art - chocolate chip stencils')
		//- +program-tab__inner('./img/machine.jpg', 'Course Beginners', '240 minutes', '1500 usd' )
		//- +program-tab__inner('./img/machine.jpg', 'Course Beginners', '240 minutes', '1500 usd' )