.testimonial#rewiews
	.container
		h1.main-title.testimonial__title
			| testimonials
		h2.small-title.testimonial__under-title
			| We have enough patience to teach you the art of coffee
		.testimonial__slider
			a(href="")#slider__ctrl-wrapper_left.slider__ctrl-wrapper.slider__ctrl-wrapper_left
				i.fa.fa-angle-left.testimonial__icon.testimonial__icon-left
			.main-slider
				ul.main-slider__list
					li.main-slider__item
						.testimonial__avatar-wrapper
							img(src="./img/avatar.png").testimonial__avatar
							a(href="https://www.facebook.com/").testimonial__avatar-circle
								i.fa.fa-facebook.testimonial__avatar-icon
						h2.small-title.testimonial__avatar-title
							| Alex Nikandrov
						p.testimonial__avatar-text
							| Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
					li.main-slider__item
						h1.main-slider__title 2
					li.main-slider__item
						h1.main-slider__title 3
					li.main-slider__item
						h1.main-slider__title 4
					li.main-slider__item
						h1.main-slider__title 5
					li.main-slider__item
						h1.main-slider__title 6
			a(href="")#slider__ctrl-wrapper_right.slider__ctrl-wrapper.slider__ctrl-wrapper_right
				i.fa.fa-angle-right.testimonial__icon.testimonial__icon-right