$transition: 300ms;

// gray

$black: #000;
$dark-blue: #485260;
$orange: #eab96a;

// Basic stylesheets

@import "./tags.scss";
@import "./misc.scss";
@import "./style.scss";

// Page parts

@import "./blocks/header.scss";
@import "./blocks/banner.scss";
@import "./blocks/programs.scss";
@import "./blocks/gallery.scss";
@import "./blocks/testimonial.scss";
@import "./blocks/partner.scss";
@import "./blocks/question.scss";
@import "./blocks/footer.scss";

// Site pages styles
