$transition: 300ms;

// gray

$black: #000;
$orange: #eab96a;

// Basic stylesheets

@import "./tags.scss";
@import "./misc.scss";
@import "./style.scss";

// Page parts

@import "./blocks/header.scss";
@import "./blocks/banner.scss";
// @import "./blocks/footer.scss";

// Site pages styles
