.banner {
	padding: 38px 0px 0px 0px;
	@include tablets {
		padding: 30px 0px 0px 0px;
	}
	&-stars {
		&__img {
			margin: 0 auto;
			display: block;
			width: 90px;
			margin-bottom: 32px;
			@include tablets {
				margin-bottom: 22px;
			}
		}
	}
	&__icon {
		color: $orange;
		position: absolute;
		top: 50%;
		margin-top: -9.4px;
		left: 50%;
		margin-left: -6px;
		font-size: 20px;
		font-weight: 900;
		animation-name: anchor;
		animation-duration: 1.1s;
		animation-iteration-count: infinite;
		&_dark {
			color: #000;
		}
	}
	&__main {
		&-title {
		font-size: 55px;
		color: #fff;
		letter-spacing: 6.35px;
		margin-bottom: 36px;
		@include tablets {
			font-size: 40px;
		}
		@include phones {
			font-size: 30px;
		}
			&_orange {
				color: $orange;
			}
		}
	}
	&__over {
		&-title {
			font-size: 17.5px;
			font-family: "Georgia";
			text-align: center;
			font-weight: 300;
			color: #fff;
			margin-bottom: 37px;
			&:before, &:after {
				content: "";
				display: inline-block;
				width: 100px;
				height: 13px;
			}
			&:before {
				background-image: url("./img/before-line.png");
				margin-right: 85px;
				margin-top: 4px;
				@include tablets {
					margin-right: 10px;
				}
				@include phones {
					display: none;
				}
			}
			&:after {
				height: 16px;
				margin-left: 85px;
				transform: rotate(-180deg);
				background-image: url("./img/before-line.png");
				@include tablets {
					margin-left: 10px;
				}
				@include phones {
					display: none;
				}
			}
		}
	}
	&__under {
		&-title {
			font-size: 21px;
			color: #fff;
			font-weight: 300;
			margin-bottom: 29.5px;
			@include tablets {
				margin-bottom: 20px;
				font-size: 18px;
			}
			@include phones {
				font-size: 16px;
			}
		}
		&-img {
			display: block;
			margin: 0 auto 71px;
			width: 140px;
			@include laptops {
				margin-bottom: 60px;
			}
			@include tablets {
				margin-bottom: 40px;
			}
			@include phones {
				margin-bottom: 35px;
			}
		}
	}
	&__circle {
		border-radius: 50%;
		border: 1px solid #fff;
		width: 60px;
		height: 60px;
		position: relative;
		display: block;
		z-index: 0;
		margin: 0 auto;
		&:hover {
			border-color: #b3b0b0;
		}
		&:hover .banner__icon {
			color: #fff;
		}
	}
}

.ancher-top {
	display: none;
	position: fixed;
	top: 5%;
	left: 95%;
	z-index: 20;
	border-color: #000;
	background-color: $orange;
	@include laptops {
		left: 92%;
	}
	@include tablets {
		left: 89%;
	}
	@include phones {
		width: 30px;
		height: 30px;
	}
	&_active {
		display: block;
	}
}

@keyframes anchor {
	0% {margin-top: -20px;}
	50% {margin-top: 0px;}
	100% {margin-top: -20px;}
}