.gallery {
	background: url("./img/gallery-bg.jpg") center no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 148px;
	position: relative;
	@include tablets {
		padding-top: 40px;
		padding-bottom: 130px;
	}
	@include phones {
		padding-top: 20px;
		padding-bottom: 100px;
	}
	&-top {
		&__img {
			background: url("./img/gallery-top.png") no-repeat;
			background-size: contain;
			top: -5%;
			left: 2.5%;
			width: 244px;
			height: 200px;
		}
	}
	&-bottom {
		&__img {
			background: url("./img/gallery-bottom.png") no-repeat;
			background-size: contain;
		    bottom: -10%;
		    right: 1%;
		    width: 244px;
		    height: 271px;
		}
	}
	&__title {
		color: #fff;
		margin: 40px 0px 17px;
		letter-spacing: 5px;
		@include tablets {
			margin-top: 70px;
		}
		&:before, &:after {
			content: "";
			display: inline-block;
			margin-bottom: 10px;
			width: 29px;
			height: 14px;
			@include tablets {
				margin-bottom: 6px;
			}
		}
		&:before {
			background-image: url("./img/gallery-title.png");
			margin-right: 33px;
			@include phones {
				display: none;
			}
		}
		&:after {
			margin-left: 33px;
			background-image: url("./img/gallery-title.png");
			transform: rotate(180deg);
			@include phones {
				display: none;
			}
		}
	}
	&__under {
		&-title {
			color: #fff;
			font-family: "Georgia";
			font-weight: 300;
			width: 425px;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 75px;
			letter-spacing: -0.1px;
			line-height: 1.5;
			@include tablets {
				margin-bottom: 30px;
			}
			@include phones {
				width: 300px;
				margin: 0px auto;
				margin-bottom: 30px;
			}
		}
	}
	&-slider {
		&-wrapper {
			margin-bottom: 60px;
		}
		&__list {
			@extend %list;
			margin-bottom: 40px;
			@include tablets {
				flex-wrap: wrap;
				justify-content: space-around;
			}
		}
		&__img {
			width: 519px;
			@include desktops {
				width: 459px;
			}
			@include laptops {
				width: 312px;
			}
			@include tablets {
				width: 100%;
				margin: 0 auto;
				padding: 0px 20px 10px;
			}
			@include phones {
				padding: 0px 10px 10px;
			}
			&-second {
				width: 754px;
				margin-left: -80px;
				@include desktops {
					width: 620px;
					margin-left: -27px;
				}
				@include laptops {
					width: 419px;
					margin-left: -33px;
				}
				@include tablets {
					width: 100%;
					margin-left: 0px;
				}
			}
			&-third {
				margin-left: 95px;
				@include desktops {
					margin-left: 126px;
				}
				@include laptops {
					margin-left: 42px;
				}
				@include tablets {
					margin-left: 0px;
				}
			}
			&-first {
				margin-left: -20px;
				@include laptops {
					margin-left: 0px;
				}
			}
		}
	}
	&-slider {
		&__item {
			margin-left: 20px;
			@include desktops {
				margin-left: 20px;
			}
			@include laptops {
				margin-left: 0px;
			}
			@include tablets {
				margin-left: 0px;
			}
		}
		&-nav {
			display: flex;
			justify-content: center;
		}
		&__text {
			font-size: 30px;
			font-family: "Georgia";
			color: #fff;
			text-align: center;
			margin-bottom: 40px;
			&_orange-small {
				color: $orange;
				font-size: 19.5px;
				margin: 12px 6px 0 10px;
			}
			&-wrapper {
				margin-top: 10px;
			}
		}
		&__ctrl {
			width: 67.5px;
			height: 67.5px;
			border: 1px solid $orange;
			margin: 0 105.5px;
			position: relative;
			@include tablets {
				margin: 0 76.5px;
			}
			@include phones {
				display: block;
				margin: 0px 20px;
			}
			&:hover {
				border: 1px solid #fff;
			}
		}
		&__arrow {
			width: 18px;
			height: 18px;
			border: 1px solid #fff;
			border-top-color: transparent;
			border-left-color: transparent;
			top: 50%;
			margin-top: -9px;
			left: 50%;
			position: absolute;
			&_left {
				margin-left: -5px;
				transform: rotate(133deg);
			}
			&_right {
				margin-left: -14px;
				transform: rotate(-47deg);
			}
		}
		&__line {
			display: inline-block;
			height: 1px;
			position: absolute;
			top: 50%;
			background-color: #fff;
			width: 106px;
			@include phones {
				width: 80px;
				display: none;
			}
			&_left {
				left: 25px;
				@include phones {
					left: -7px;
				}
			}
			&_right {
				right: 28px;
				@include phones {
					right: -7px;
				}
			}
		}
	}
}