.question {
	width: 64.5%;
	float: right;
	@include laptops {
	    width: 76.5%;
    	float: right;
	}
	@include tablets {
		width: 100%;
	}
	&-wrapper {
		padding-top: 128px;
		@extend %clearfix;
		padding-bottom: 261px;
		@include laptops {
			padding-bottom: 200px;
			border-top: 100px;
		}
		@include tablets {
			padding-top: 65px;
			padding-bottom: 45px;
		}
		@include phones {
			padding-top: 50px;
			padding-bottom: 35px;
		}
	}
	&__title {
		border-bottom: 1px solid $black;
		text-align: left;
		padding-bottom: 4px;
		margin-bottom: 22px;
	}
	&__under-title {
		text-align: left;
		margin-bottom: 109px;
		@include tablets {
			margin-bottom: 50px;
		}
	}
	&__input {
		background-color: transparent;
	    border: 0;
	    border-bottom: 1px solid $black;
	    padding-bottom: 12px;
	    font-size: 12.5px;
	    font-family: "Roboto Black";
	    color: #000;
	    text-transform: uppercase;
	    width: 385px;
	    margin-bottom: 19px;
	    letter-spacing: 0.7px;
	    margin-right: 86px;
	    @include tablets {
	    	width: 300px;
	    	margin-right: 50px;
	    }
	    &-number {
		    margin-bottom: 0;
		    height: 29px;
		    margin-top: 34px;
			&:focus {
		    	border-bottom-color: rbga(#fff, 0.5);
		    }
	    }
	}
	&__submit {
		font-size: 17.5px;
		font-family: "Roboto Black";
		color: $black;
		text-transform: uppercase;
		border: 1px solid $black;
		text-align: center;
		padding: 20px 90px;
		position: relative;
		@include tablets {
			padding: 15px 60px;
		}
		&:hover {
			border: 1px solid rgba($black, 0.7);
		}
		&:hover .question__arrow {
			border: 1px solid rgba($black, 0.7);
		    border-top-color: transparent;
	    	border-left-color: transparent;
		}
		&:hover .question__line {
			background-color: rgba($black, 0.7);
		}
	}
}
.form {
	&__input{
		&-wrapper {
			display: flex;
		}
	}
}

.question {
	&__arrow {
	    width: 18px;
	    height: 18px;
	    border: 1px solid $black;
	    border-top-color: transparent;
	    border-left-color: transparent;
	    top: 50%;
	    margin-top: -9px;
	    right: -65px;
	    position: absolute;
		transform: rotate(-47deg);
		@include tablets {
			display: none;
		}
	}
	&__line {
    	display: inline-block;
    	height: 1px;
    	position: absolute;
    	top: 50%;
    	right: -65px;
    	background-color: $black;
    	width: 106px;
    	@include tablets {
    		display: none;
    	}
    }
}