.testimonial {
	padding-top: 90px;
	padding-bottom: 107.5px;
	@include tablets {
		padding-top: 10px;
		padding-bottom: 60px;
	}
	&__title {
		letter-spacing: 4.5px;
		margin-bottom: 25px;
		@include phones {
			margin-bottom: 15px;
		}
	}
	&__under-title {
		color: $dark-blue;
		letter-spacing: -0.15px;
		font-weight: 300;
		margin-bottom: 74px;
		@include tablets {
			margin-bottom: 54px;
		}
		@include phones {
			margin-bottom: 20px;
		}
	}
	&__slider {
		position: relative;
		@include laptops {
			width: 810px;
			display: block;
			margin: 0 auto;
		}
		@include tablets {
			width: auto;
		}
	}
	&__main {
		&-slider {
			display: block;
			margin: 0 auto;
			flex-direction: column;
			align-items: center;
		}
	}
	&__avatar {
		display: block;
		width: 170px;
		margin: 0 auto;
		position: relative;
		&-title {
			font-size: 17.5px;
			font-family: "Roboto";
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin-bottom: 14px;
		}
		&-text {
			width: 872px;
			text-align: center;
			color: $dark-blue;
			font-weight: 300;
			font-family: Georgia;
			letter-spacing: -0.1px;
			line-height: 2.2;
			margin: 0 auto;
			margin-bottom: 37px;
			@include laptops {
				width: 800px;
			}
			@include tablets {
				width: auto;
			}
		}
		&-wrapper {
			position: relative;
			width: 170px;
			margin: 0 auto 35px;
		}
		&-icon {
			color: #fff;
			font-size: 21px;
		}
		&-circle {
			border-radius: 50%;
			background-color: #4267b2;
			width: 38.5px;
			height: 38.5px;
			position: absolute;
			top: 22px;
			right: -7px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				background-color: rgba(#4267b2, 0.9);
			}
		}
	}
	&-circles {
		&__list {
			@extend %list;
			display: flex;
			justify-content: center;
		}
		&__circle {
			border-radius: 50%;
			background-color: #000;
			width: 15.5px;
			height: 15.5px;
			&_active {
				background-color: $orange;
			}
		}
		&__item {
			margin-right: 19.5px;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

.slider {
	&__ctrl {
		width: 12px;
		height: 12px;
		transform: rotate(130deg);
		border: 2px solid $dark-blue;
		&_left {
			border-top: 1px solid transparent;
			border-left: 1px solid transparent;
		}
		&_right {
			border-bottom: 1px solid transparent;
			border-right: 1px solid transparent;
		}
		&-wrapper {
			width: 60px;
			height: 60px;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			margin-top: -26px;
			z-index: 5;
			@include phones {
				top: 33%;
				margin-top: 0px;
			}
			&_left {
				left: -10px;
				&:hover .slider__ctrl_left {
					border-bottom-color: #000;
					border-right-color: #000;
				}
				@include laptops {
					left: -15px;
				}
				@include tablets {
					left: 0;
				}
			}
			&_right {
				right: -10px;
				&:hover .slider__ctrl_right {
					border-top-color: #000;
					border-left-color: #000;
				}
				@include laptops {
					right: -20px;
				}
				@include tablets {
					right: 0;
				}
			}
		}
	}
}

.main {
	&-slider {
		&__list {
			width: 100%;
			display: block;
		}
		&__item {
			&_active {
				display: block;
			}
		}
		&__title {
			text-align: center;
			margin-top: 175px;
		}
	}
}

.my-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-left: 5px;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 15.5px;
	height: 15.5px;
	content: '•';
	border-radius: 50%;
	background-color: #000;
	text-align: center;
	opacity: 1;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  opacity: 1;
  background-color: $orange;
  color: black;
}