mixin table-row(status, statusClass, text)
	tr.inner-table__vertical
		td(class=`inner-table__cell inner-table__cell-status`)
			i(class=`fa fa-${status} ${statusClass}`)
		td(class=`inner-table__cell inner-table__cell-text`) #{text}