extends ../templates/common.pug
block variables
    - var title = "Barista training in Amsterdam";
block content
    header.header#header
        include ../blocks/header.pug
        include ../blocks/banner.pug